@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 66, 66, 66;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb)) url("/assets/images/bg_image.jpg") repeat;
  background-size: cover;
  background-position: 0 0;
  animation: infinite 40s linear animateBg;
}

@keyframes animateBg {
    0% {
      background-position: 0;
    }
    25% {
      background-position: 25%;
    }
    50% {
      background-position: 50%;
    }
    75% {
      background-position: 25%;
    }
    100% {
      background-position: 0;
    }
}

