@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 66, 66, 66;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb)) url("/assets/images/blurred_bg.jpg") repeat;
  background-size: 300%;
  background-position: 45% 15%;
  animation: infinite 60s linear animateBg;
}

@keyframes animateBg {
    0% {
      background-position: 45% 15%;
      background-size: 300%;
    }
    25% {
      background-position: 50% 70%;
      background-size: 200%;
    }
    50% {
      background-position: 100% 100%;
      background-size: 100%;
    }
    75% {
      background-position: 70% 50%;
      background-size: 200%;
    }
    100% {
      background-position: 45% 15%;
      background-size: 300%;
    }
}

